.list {
	padding: $default-gap;
	display: flex;
	flex-direction: row;

	&__wrapper {
		width: 75%;
		padding: $default-gap;
		border: 1px solid $tertiary-color;
		border-radius: $default-radius;
	}
}
