<section class="page employees-page">
	<article class="list">
		<div class="filter">
			<div class="filter__wrapper">
				<div class="filter__header">
					<h2>{{test}}</h2>
				</div>
			</div>
		</div>
		<div class="list__wrapper">
			<div class="list__header">
				<h1>Employees</h1>
			</div>
			<div class="list__content">
				<p>content 1</p>
				<p>content 2</p>
				<p>content 3</p>
			</div>
		</div>
	</article>
</section>
