<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>All employees</title>
		<link rel="stylesheet" href="public/main.min.css">
		<script type="module" src="public/bundle.min.js"></script>
	</head>
	<body>
		<header class="main-header">
			<div class="main-header__content">
				<a href="/">
					<h1 class="main-header__logo">Open Web Employees</h1>
				</a>
			</div>
		</header>

		<section class="page employees-page">
			<article class="list">
				<div class="filter">
					<div class="filter__wrapper">
						<div class="filter__header">
							<h2>Filters</h2>
						</div>
					</div>
				</div>
				<div class="list__wrapper">
					<div class="list__header">
						<h1>Employees</h1>
					</div>
					<div class="list__content">
						<p>content 1</p>
						<p>content 2</p>
						<p>content 3</p>
					</div>
				</div>
			</article>
		</section>


		<footer class="main-footer">
			<div class="main-footer__content">
				Footer
			</div>
		</footer>
	</body>
</html>
