// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Poiret+One');

// Font Variables
$poiret-one: 'Poiret One', cursive;
$playfair-display: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;
